# Not python stuff

# https://wiki.osdev.org/GCC_Cross_Compiler
sudo apt install -y qemu-system-x86 bison flex build-essential libgmp3-dev libmpc-dev libmpfr-dev texinfo libisl-dev


# VSCOde extension for assembly

x86 and x86_64 Assembly by 13xforever

# Binutils 2.35
https://www.gnu.org/software/binutils/

# GCC 10.2.0
https://www.gnu.org/software/gcc/mirrors.html