# Not python stuff

# https://wiki.osdev.org/GCC_Cross_Compiler
sudo apt install -y qemu-system-x86 bison flex build-essential libgmp3-dev libmpc-dev libmpfr-dev texinfo libisl-dev


# VSCOde extension for assembly and linkerscript
LinkerScript ZixuanWang
x86 and x86_64 Assembly by 13xforever

# Binutils 2.42
https://www.gnu.org/software/binutils/

# GCC 10.2.0
https://www.gnu.org/software/gcc/mirrors.html


export PREFIX="$HOME/opt/cross"
export TARGET=i686-elf
export PATH="$PREFIX/bin:$PATH"

# Testing memory heap
cd bin
gdb
add-symbol-file ../build/kernelfull.o 0x100000
target remote | qemu-system-i386 -hda ./os.bin -S -gdb stdio
break kernel.c:102
c
print ptr
print ptr2
print ptr3
print ptr4 

# ptr4 now will occupi ptr position, cause we freeded 

# Testing FAT

sudo mkdir /mnt/d
sudo mount -t vfat ./os.bin /mnt/d

cd /mnt/d
sudo touch ./hello.txt
sudo nano hello.txt

# now the content of the file will be in the OS
# Can be checked using bless